* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #0d192b;
}

main {
    color: #fff;
    max-width: 350px;
    border-radius: 10px;
    margin-inline: 20px;
    background-color: #14253d;
    font-family: "Outfit", sans-serif;
    transition: color .15s ease-in-out;
    box-shadow: 0px 10px 8px 3px #0c1727;
}

h1 {
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}

h1:hover,
.profile-content .user-name:hover {
    color: #00fff7;
}

p {
    font-size: 17px;
    color: #7893b5;
    line-height: 1.5;
    font-weight: 300;
}

.card {
    padding: 20px;
}

.img-box {
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    background-color: red;
}

.card-img {
    width: 100%;
    vertical-align: middle;
}

.img-box:hover::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00fff763;
}

.img-box:hover::after {
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    position: absolute;
    transform: translate(-50%, -50%);
    content: url('/images/icon-view.svg');
}

.crypto-amount-time {
    display: flex;
    justify-content: space-between;
}

.crypto-amount {
    font-weight: 600;
    color: #00fff7;
}

.crypto-time {
    color: #7893b5;
}

.crypto-amount,
.crypto-time {
    gap: 8px;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.profile-content {
    gap: 15px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    margin-top: 25px;
    align-items: center;
    padding-block: 20px 10px;
    border-top: 1px solid #2f415b;
}

.profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid #fff;
}

.profile-content span {
    color: #7893b5;
}

.profile-content .user-name {
    color: #fff;
    transition: color .15s ease-in-out;
}